.App {
  text-align: center;
}

h1{
  font-size: 3rem;
}

p{
  font-size: 1.2em;
  color: #1F5C70;
}

p a{
  color: #FBA01D;
  font-weight: bold;
}

p a:hover{
  color: #FFBA37;
  transition: ease .4s;
  border-bottom: 1px dashed #FFBA37;
}

.ui.container {
  padding: 90px 0 !important;
}

button.ui.button, button.ui.button::selection {
  background: #FBA01D !important;
  color: #FFF !important;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

button.ui.button:hover {
  background: #FFBA37 !important;
  color: #FFF;
  transition: ease .2s;
  font-weight: bold;
}

.back-button {
  border: 2px solid black;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
  border: 1px solid #1F5C70 !important;
}

.ui.form input:not([type]), .ui.form input[type=date]:focus, .ui.form input[type=datetime-local]:focus, .ui.form input[type=email]:focus, .ui.form input[type=file]:focus, .ui.form input[type=number]:focus, .ui.form input[type=password]:focus, .ui.form input[type=search]:focus, .ui.form input[type=tel]:focus, .ui.form input[type=text]:focus, .ui.form input[type=time]:focus, .ui.form input[type=url]:focus {
  border: 1px solid #FBA01D !important;
}

i.icon.gift {
  font-size: 10em !important;
}

.dishicon {
  height: 140px;
}

.handshakeicon{
  height: 140px;
}

div.ui.huge.header {
  margin: 10px 0;
}

.mobile-nav {
  margin-left: auto;
  margin-right: 20px;
  font-size: 2em;
}

.logo {
  width: 200px;
  padding-left: 39px;
}

.logoRGB {
  width: 300px;
  position: relative;
  margin: 20px 0;
}

i.handshake.icon {
  color: #1F5C70;
  width: 100%;
}

.icon-foodplate {
  height: 135px;
  margin-bottom: 24px;
}
.icon-handshake {
  height: 140px;
  margin-bottom: 19px;
}

.plus-circle-link-icon {
  display: flex;
  justify-content: center;
  color: #1F5C70;
}

h5 {
  color: #1F5C70;
  width: 100%;
  border: 2px solid indigo;
  display: flex;
  justify-content: center;
}

.ui.card, .ui.cards>.card {
  border: 3px solid #1F5C70 !important;
  box-sizing: border-box;
  margin: 0 10px!important;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  color: #1F5C70;
  font-size: 2em !important;
  margin-bottom: 10px;
}

.ui.card>.content, .ui.cards>.card>.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui.card, .ui.cards>.dashboard {
  display: flex;
  margin: 0 !important;
  border: none !important;
}

.ui.card.donation {
  margin-right: 20px !important;
  width: 25%;
}

.ui.card.donation:last-child {
  margin-right: 0px !important;
}

div.ui.card.dashboard-office-location{
  box-shadow: none !important;
}

i.icon.th.list:before {
  color: #FFF;
  font-size: 4em;
  position: relative;
  right: -170px;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #1F5C70;
  transition: color 0.2s;
  margin: 20px 20px;
}

.bm-item:hover {
  color: #528FA3;
}

.bm-item:focus, .bm-item:active, button:focus, button:active {
  outline: none;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #FFF;
}

.bm-cross-button {
  position: absolute;
  background: #FBA01D;
  padding: 100vh 20px;
  height: 24px;
  width: 24px;
  left: 0;
  top: 0 !important;
}

.bm-cross {
  background: #FFF;
  position: absolute;
  left: -8px;
  top: 10px;
}

.bm-menu {
  background: #E7E7E7;
  padding: 2.5em 0 0 2.5em;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #1F5C70;
  overflow-y: hidden;
  overflow-x: hidden;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  top: 0;
}

.bm-menu-wrap {
  bottom: 0;
  right: 0;
}

.calendar-placeholder{
  background: #E7E7E7;
  padding: 10px;
  height: 200px;
}
a.bm-item.logo-sidebar {
  width: 161px;
  margin: 0 auto;
}
.add-location-text, .first-donation-text{
  display: inline;
  margin: 0px;
}
.building.icon::before, .truck.icon::before, .calendar.icon::before{
  color: #FBA01D;
}

/* Form */
input{
  margin: 7px 0 14px !important;
  flex: 1 0 auto;
  outline: none;
  text-align: left;
  line-height: 1.21428571em;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 0.67857143em 1em;
  background: #FFFFFF;
  border: 1px solid #1F5C70;
  color: #000;
  border-radius: 0.28571429rem;
  width: 100%;
}

label{
  color: #000;
  font-weight: bold;
}

input::placeholder{
  color: rgba(191, 191, 191, 0.87);
}

input:focus{
  border: 1px solid #FBA01D;
}

input:focus::placeholder{
  color: rgba(115, 115, 115, 0.87);
}

p.error{
  color: red;
  margin-top: 0px;
}

button.ui.button{
  margin-top: 10px !important;
}

.results{
  position: absolute !important;
  top: 40px !important;
  width: 100% !important;
}
.user-icon{
  color: #FBA01D;
}

div.ui.huge.header{
  color: #1F5C70;
  text-align: center;
}

.modalBtn{
  width: 20%!important;
  display: flex!important;
  justify-content: center;
  align-items: center;
}
.modalForm{
  width: 80% !important;
  margin: 0 auto!important;
}
.modalHeader{
  margin-bottom: 25px!important;
  display: flex!important;
  align-items: center!important;
  color: #1F5C70!important;
}
.modalHeader .truck.big.icon{
  margin-right: 10px!important;
}
.ui button.submitModalBtn{
  width: 80% !important;
  margin-bottom: 10px;
}

.submitModalBtnContainer{
  text-align: center!important;
}

.ui button.btnDash{
  width: 100%!important;
}

.logoutBtn{
  width: 30%!important;
  margin-bottom: 20px!important;
}

.divider{
  width: 100% !important;
}

/* Responsiveness */
@media only screen and (max-width: 700px) {
  .nav {
    display: none !important;
  }
  nav.sc-jzJRlG.lfdADk {
    padding: 0px;
  }
  img.logo {
    width: 200px;
    height: 61.38px;
    padding: 0;
  }
  i.icon.th.list:before {
    display: block;
  }
  .ui.card, .ui.cards>.card {
    margin: 10px auto !important;
  }
  .main {
    display: flex;
    flex-direction: column !important;
    margin-top: 20px;
  }
  .sc-gzVnrw.jrDowS, .sc-bZQynM.dDmCmJ, .sc-VigVT.ecVePz, .sc-jTzLTM.dwIzlW {
    width: 100% !important;
    margin: 10px;
  }
}

button[type=submit]{
  width: 85% !important;
  margin-right: 0 !important;
}

.ui button.btnBack{
  background: #1F5C70!important;
  margin-right: 0 !important;
}
.ui button.btnBack:hover {
  background: #528FA3!important;
}

@media only screen and (min-width: 701px) and (max-width: 1050px) {
  .nav a {
    display: none !important;
  }
  nav.sc-jzJRlG.lfdADk {
    padding: 0px;
  }
  i.icon.th.list:before {
    display: block;
  }
}

@media only screen and (min-width: 1051px) {
  .bm-burger-button {
    display: none;
  }
}