.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button.ui.button{
  background: #FBA01C;
  color: #FFF;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

button.ui.button:hover{
  background: #FFBA36;
  color: #FFF;
  transition: ease .2s;
  font-weight: bold;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url]{
  border: 1px solid  #1F5C70 !important;
}

.ui.form input:not([type]), .ui.form input[type=date]:focus, .ui.form input[type=datetime-local]:focus, .ui.form input[type=email]:focus, .ui.form input[type=file]:focus, .ui.form input[type=number]:focus, .ui.form input[type=password]:focus, .ui.form input[type=search]:focus, .ui.form input[type=tel]:focus, .ui.form input[type=text]:focus, .ui.form input[type=time]:focus, .ui.form input[type=url]:focus{
  border: 1px solid #FBA01C !important;
}
i.icon.gift{
  font-size: 10em !important;
}
.dishicon{
  width: 140px;
}
div.ui.huge.header{
  margin: 10px 0;
}
.mobile-nav{
  margin-left: auto;
  margin-right: 20px;
  font-size: 2em;
}
.logo{
  width: 200px;
  padding-left: 39px;
}
.logoRGB{
  width: 300px;
  position: relative;
  margin: 35px 0 20px;
}

h3{
  color: #1F5C70;
  margin-bottom: 30px !important;
}

.ui.card, .ui.cards>.card{
  border: 3px solid #1F5C70 !important;
  box-sizing: border-box;
}
i.handshake.icon{
  color: #1F5C70;
  width: 100%;
}
.icon-home{
  width: 140px;
  margin-bottom: 19px;
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui){
  color: #1F5C70;
  font-size: 2em !important;
  margin-bottom: 10px;
}
.ui.card>.content, .ui.cards>.card>.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 700px){

}
@media only screen and (min-width: 701px) and (max-width: 1050px){
  .mobile-nav{
    display: none;
  }
}
@media only screen and (min-width: 1051px){
  .mobile-nav{
    display: none;
  }
}